.default {

    display: block;
    margin: 0 0 0 0;
}


.bold {
    font-weight: 900;
    margin-bottom: 0px;
}


.tags {
    display: inline !important;
    width: 175px;
}

.nav-separate-scroll {
    position: fixed;
    overflow-y: scroll;
}

.nav a {
    color: grey;
}


.navbar-toggler {
    position: fixed !important;
    right: 0;
    bottom: 0;
    z-index: 1 !important;

}


.fix-scroll {
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
}

@media screen and (max-width:400px) {
  


    .navbar-toggler {
        position: fixed !important;
        right: 0;
        bottom: 0;
        z-index: 1 !important;
        width: 15%;
        background-color: white !important;
        border: solid 1px #d0d0d0;
        padding-left: 0px;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
    }

    .bottom {
        box-sizing: border-box;
        width: 150px;
        height: 5vh;
    }
    .navbar {
        padding-left: 0px !important;
        position: fixed !important;
        right: 0!important;
        left: 0;
        overflow-y: scroll !important;
        overflow-x: visible;
        bottom: 0 !important;
        max-height: 100vh !important;
        min-height: 0vh;
        max-width: 100vh;
        list-style: none;
        padding-left: 0px !important;
        word-wrap: break-word !important;
        background: #f9f9f9;
        white-space: normal !important;
    }
    
    
    .nav-item {
        padding-left: 0px;
        margin: 0px !important;
        
        color: black
        
    }
    .tags {
        display: inline-block;
        margin: 0px 10px 10px 0px !important;
        width: 75vw;
        
    }

    .nav-item a {
        color: grey
        
    }
    .nav-item a {
        
    }
    .collapse {
        padding-left: 0px !important;
    }
    .contact {
        font-size: 15px !important
    }

    .bold {
        font-weight: 900 !important;
        
    }
    
    

}